.container {
    display: flex;
    flex-direction: column;
}

.button {
    display: flex;
    justify-content: space-between;
    flex: 1;
    background-color: #fff;
    color: #1C337A;
    padding: 12px;
    font-size: 16px;
    text-align: left;
    border: none;
    border-bottom: 1px solid #1C337A;
}

.button:last-of-type {
    border-bottom: none;
}

.button__icon {
    width: 16px;
}

.button--active {
    background-color: #1C337A;
    color: #fff;
}